<h1 class="text-center p-5">Welcome to LitterWalk</h1>

<% unless current_user %> 
  <div class="login m-3 text-center">
      <%= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-custom"  %>  
  </div>
  <div class="register m-3 text-center">
      <%= link_to 'Register', new_user_registration_path, class: "btn btn-primary btn-custom"  %>
  </div>
  <div class="signfb m-3 text-center">
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary btn-custom" %>  
  </div>
<% else %>
    <div class="singfb m-3 text-center">
    <%= link_to 'Add a Can',  new_can_path, class: "btn btn-primary btn-custom"%>
  </div>
  <div class="singfb m-3 text-center">
      <%= link_to 'Find a Can',  cans_path, class: "btn btn-primary btn-custom"%>
  </div>
    <div class="singfb m-3 text-center">
      <button class="btn btn-primary btn-custom">Report a Issue</button>
  </div>
<% end %>