<p id="notice"><%= notice %></p>

<h1>Cans</h1>

<table>
  <thead>
    <tr>
      <th>Can type</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='places'>
      <%= render @places %>
  </tbody>
</table>

<br>

<%= link_to 'New Can', new_can_path %>
<%= content_tag :button, 'Get places', class: 'btn btn-info get_location' %>
<%= tag :div, class: 'location_results_list' %>
